---
# Empty front matter
---
<!doctype html>
<html>
  <head>
    <script type="text/javascript">
        {% for social in site.join %}
        {% if forloop.index > 1 %}
        else
        {% endif %}
        if(window.location.pathname == "{{ social.linkpath }}") {
            window.location.href = '{{ social.link }}';
        }
        {% endfor %}
        else if(window.location.pathname == "/zoom") {
            window.location.href = 'https://ucla.zoom.us/j/9259571995';
        }
        else {
            window.location.href = '/';
        }
    </script>
  </head>
  <body>
  </body>
</html>