---
# Empty front matter
---
<!doctype html>
<html lang="en">
    <head>
        <title>JAC - UCLA's Official Anime Club!</title>
        <meta name="description" content="We're UCLA's Japanese Animation Club. Join us for karaoke, cosplay, dancing, anime screenings, and more!">

        <!-- Page Settings -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <!-- Favicon  -->
        <link rel="icon" type="image/png" href="/favicon/favicon-16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="/favicon/favicon-32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="/favicon/favicon-64.png" sizes="64x64" />
        <link rel="icon" type="image/png" href="/favicon/favicon-96.png" sizes="96x96" />
        <link rel="icon" type="image/png" href="/favicon/favicon-128.png" sizes="128x128" />
        <link rel="icon" type="image/png" href="/favicon/favicon-192.png" sizes="192x192" />
        <link rel="apple-touch-icon" sizes="57x57" href="/favicon/favicon-57.png" />
        <link rel="apple-touch-icon" sizes="60x60" href="/favicon/favicon-60.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/favicon/favicon-72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="/favicon/favicon-76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/favicon/favicon-114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/favicon/favicon-120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/favicon/favicon-144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/favicon/favicon-152.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/favicon-180.png" />
        <meta name="msapplication-config" content="/favicon/browserconfig.xml">
        
        <!-- Stylesheets -->
        <link href="https://fonts.googleapis.com/css?family=Advent+Pro|Raleway" rel="stylesheet">
        <link href="/stylesheets/body.css" rel="stylesheet">        
        <link href="/stylesheets/about.css" rel="stylesheet">
        <link href="/stylesheets/meetings.css" rel="stylesheet">
        <link href="/stylesheets/footer.css" rel="stylesheet">
        <link href="/stylesheets/join.css" rel="stylesheet">
        <link href="/stylesheets/main.css" rel="stylesheet">
        <link href="/stylesheets/navbar.css" rel="stylesheet">
        <link href="/stylesheets/kirigami.css" rel="stylesheet">
        <link href="/stylesheets/midnight.css" rel="stylesheet">
        <link href="/stylesheets/fresh.css" rel="stylesheet">

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Bootstrap Carousel   -->
        <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
        <script src="/bootstrap/bootstrap.min.js"></script>

        <!-- Smooth Scrolling -->
        <script type="text/javascript">
            $(document).ready(function() {
                $(window).scroll(function() {
                    $(".main-arrow").css("opacity", 1 - $(window).scrollTop() / 250);
                });

                $(".main-arrow").click(function() {
                    $('html, body').animate({
                        scrollTop: $("#id_about").offset().top
                    }, 1000);
                })

                // Smooth scrolling.
                $('a[href*="#"]').not('[href="#"]').not('[href="#0"]').click(function(event) {
                    // Avoid overriding default behaviour for the carousel.
                    if ($.attr(this, 'href').includes('carousel')) {
                        return;
                    }
                    event.preventDefault();
                    $('html, body').animate({
                        scrollTop: $( $.attr(this, 'href') ).offset().top
                    }, 500);
                });
            });
        </script>
    </head>
    <body>
        <div id="root">
            <div>
                {% include navbar.html %}
                <div class="container">
                    {% include main.html %}
                    <span id="id_about" class="anchor"></span>
                    {% include about.html %}
                    <span id="id_meetings" class="anchor"></span>
                    {% include meetings.html %}
                    <span id="id_fresh" class="anchor"></span>
                    {% include fresh.html %}      
                    <span id="id_kirigami" class="anchor"></span>
                    {% include kirigami.html %}
                    <span id="id_midnight" class="anchor"></span>
                    {% include midnight.html %}
                    <span id="id_join" class="anchor"></span>
                    {% include join.html %}
                </div>
                {% include footer.html %}
            </div>
        </div>
    </body>
</html>
