<div class="about mainelement">
    <div class="about-title">
        About Us
    </div>
    <div class="about-body">
        {% assign about = site.jacabout | split: "%photos%" %}
        {% for part in about %}
        {{ part | markdownify }}
        {%     unless forloop.last %}
        <div class="about-photos">
            {% for photo in site.jacphotos %}
            <!-- This bit of CSS is inline in order to use template variables for the number of photos. -->
            <div class="about-photos-slide" style="animation: about-photos {{ site.jacphotos | size | times: 5 }}s infinite; animation-delay: {{ forloop.index0 | times: 5 }}s;">
                <img class="about-photos-img" src="{{ photo.path }}" alt="" />
                <span class="about-photos-caption">{{ photo.description }}</span>
            </div>
            {% endfor %}
        </div>
        {%     endunless %}
        {% endfor %}
        <img class="about-jacie" alt="" src="/images/jaciecute.png" />
    </div>
</div>
