<div class="join mainelement">
    <img class="join-banner" src="/images/join.png" alt="" />
    <div class="join-container">
        <div class="discord join-link" >
            <a target="_blank" href={{ site.discord }}>
                <span class="divLink"></span>
            </a>
            <h1>can't wait to hang out?</h1>
            <img class="join-icon" src="/images/discord.svg" alt="" />
            <br />
            Join Our Discord!
        </div>

        <div class="facebook join-link">
            <a target="_blank" href={{ site.facebook }}>
                <span class="divLink"></span>
            </a>
            <h1>Follow Us On</h1>
            <img class="join-icon" src="/images/facebook.svg" alt="" />
            <br />
            For the latest updates on club events!
        </div>

        <div class="mail join-link">
            <a target="_blank" href={{ site.emailform }}>
                <span class="divLink"></span>
            </a>
            <h1>Join Our Mailing List</h1>
            <img class="join-icon" src="/images/mail.png" alt="" />
            <br />
            For Weekly Announcements
        </div>
    </div>
</div>
