<div class="join mainelement">
    <img class="join-banner" src="/images/join.png" alt="" />
    <div class="join-container">
        {% for button in site.join %}

        {% assign remainder = forloop.index | modulo: 2 %}
        {% if remainder == 0 %}
        {%     assign class = "join-even" %}
        {% else %}
        {%     assign class = "join-odd" %}
        {% endif %}

        <div class="join-link {{ class }}">
            <div class="join-link-contents">
                <a target="_blank" href="{{ button.linkpath }}">
                    <span class="divLink"></span>
                </a>
                <h1>{{ button.toptext }}</h1>
                <img class="join-icon" src="{{ button.icon }}" alt="" />
                <br />
                {{ button.bottomtext }}
                <br />
                {% if button.subtext %}
                <div class="join-sub">
                    <br />
                    {{ button.subtext }}
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="contact-us">
        Need help? Contact us at <a href="mailto:{{ site.email }}">{{ site.email }}</a>
    </div>
</div>
