<div class="join mainelement">
    <img class="join-banner" src="/images/join.png" alt="" />
    <div class="join-container">
        <div class="discord join-link" >
            <a target="_blank" href="/discord">
                <span class="divLink"></span>
            </a>
            <h1>can't wait to hang out?</h1>
            <img class="join-icon" src="/images/discord.svg" alt="" />
            <br />
            Join Our Discord!
            <br />
            <div class="discord-sub">
                <br />
                (You must be logged in with your UCLA email to apply.)
            </div>
        </div>

        <div class="facebook join-link">
            <a target="_blank" href="/fb">
                <span class="divLink"></span>
            </a>
            <h1>Follow Us On</h1>
            <img class="join-icon" src="/images/facebook.svg" alt="" />
            <br />
            For the latest updates on club events!
        </div>

        <div class="mail join-link">
            <a target="_blank" href="/email">
                <span class="divLink"></span>
            </a>
            <h1>Join Our Mailing List</h1>
            <img class="join-icon" src="/images/mail.png" alt="" />
            <br />
            For Weekly Announcements
        </div>
    </div>

    <div class="contact-us">
        Need help? Contact us at <a href="mailto:{{ site.email }}">{{ site.email }}</a>
    </div>
</div>
