<div class="meetings mainelement">
    <div class="meetings-title">
        Meetings
    </div>

    <div class="meetings-body">
        <div class="meetings-details">
                <p>
                    Meetings are currently held on {{ site.jacday }}s at {{ site.jactime }}.
                    {% if site.weekendday %}
                    We also sometimes hold events on {{ site.weekendday }}s.
                    {% endif %}
					
					<b>Due to university policy, there will be no in-person meetings on campus until Week 5 at the earliest (see schedule below). Schedule subject to change.</b>
                </p>
        </div>

        <div class="meetings-schedule">
            <div class="meetings-schedule-title">
                {{ site.quarter }} Schedule
            </div>

            <table class="meetings-schedule-table">
                <tr>
                    <th>Week</th>
                    <th>{{ site.jacday }}</th>
                    {% if site.weekendday %}
                    <th>{{ site.weekendday }}</th>
                    {% endif %}
                </tr>

                {% for week in site.schedule %}
                <tr>
                    <td>Week {{ forloop.index }}</td>

                    {% if week.meeting %}
                    <td>{{ week.meeting }}</td>
                    {% else %}
                    <td>---</td>
                    {% endif %}

                    {% if site.weekendday %}
                    {%     if week.weekend %}
                    <td>{{ week.weekend }}</td>
                    {%     else %}
                    <td>---</td>
                    {%     endif %}
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="meetings-screenings">
            <div class="meetings-screenings-title">
                {{ site.quarter }} Screenings
            </div>

            {% for screening in site.screenings %}
            <figure class="meetings-screening">
                <a href="{{ screening.mal }}" target="_blank">
                    <img class="meetings-screening-img" src="{{ screening.image }}" alt="" />
                </a>
                <figcaption class="meetings-screening-caption">{{ screening.title }}</figcaption>
            </figure>
            {% endfor %}
        </div>
    </div>
</div>
