.about{
    background: #FFFFFC;

    padding: 2% 3%
}

.about-title,
.about-body{
    background: #FDFEF2;
    border: 2px solid #CACB69;
}

.about-title{
    /* ABOUT US: */
    font-family: Raleway; /*-SemiBold;*/
    font-weight: bold;
    font-size: 26px;
    color: #AA507A;
    letter-spacing: 2px;
    text-transform: uppercase;

    margin-bottom: 2%;
    padding: 2% 0;
}

.about-body{
    /* Hi, we’re UCLA's one: */
    font-family: Raleway;
    font-size: 20px;
    color: #AA507A;
    letter-spacing: 0px;
    line-height: 37px;

    padding: 0% 2%;
    padding-top: 2%;
}

.about-jacie {
    position: relative;
    max-width: 250px;
    top: 70px;
}

@media only screen 
and (max-width: 824px) {
    .about-body {
        font-size: 15px;
        line-height: 25px;
    }
    .about-jacie {
        top: 67px;
    }
}


/* Bootstrap carousel customizations.  */
.carousel-inner > .item > img {
    margin: 0 auto;
}
.carousel {
    width: 75%;
    margin: 4% auto;
    height: 400px;
}
.carousel-control {
    background:none!important;
}
.left-icon, .right-icon {
    position:absolute;
    top:50%;
    margin-top:-10px;
    z-index:5;
    display:inline-block;
    width:30px;height:30px;
    margin-top:-10px;
    font-size:30px;
}
.left-icon {
    left:25%;
    margin-left:-10px;
}
.right-icon {
    right:25%;
    margin-right:-10px;
}
.carousel-img {
    max-height: 400px;
    border-radius: 10px;
}
.carousel-caption {
    bottom: -40px!important;
}
.carousel-indicators {
    bottom: -50px!important;
}

@media only screen 
and (max-width: 824px) {
    .carousel {
        height: 200px;
        margin-bottom: 8%;
    }
    .carousel-img {
        max-height: 200px;
    }
    .carousel-indicators {
        bottom: -40px!important;
    }

    .left-icon {
        left: -30%;
    }
    .right-icon {
        right: -30%;
    }
}
