.about{
    /* Mask: */
    background: #FFFFFC;
    margin-top: 1%;
    background-image: url(../../src/assets/about.svg);
    padding: 3% 0;
}

.title,
.body{
    background: #FDFEF2;
    border: 1px solid #CACB69;
}

.title{
    /* ABOUT US: */
    font-family: Raleway-SemiBold;
    font-size: 26px;
    color: #AA507A;
    letter-spacing: 2px;
    line-height: 26px;
    text-transform: uppercase;
    margin: auto;
    padding: 3%;
    width: 50%;
}

.body{
    /* Hi, we’re UCLA's one: */
    font-family: Raleway;
    font-size: 20px;
    color: #AA507A;
    letter-spacing: 1px;
    line-height: 50px;
    padding: 5% 10%;
    margin: auto;
    margin-top: 3%;
    text-align: justify;
    width: 36%;
}