.about{
    /* Mask: */
    background: #FFFFFC;
    margin-top: 1%;
    background-image: url(../../src/assets/about.svg);
    padding-top: 3%;
    padding-bottom: 3%;
}

.about-title,
.about-body{
    background: #FDFEF2;
    border: 2px solid #CACB69;
}

.about-title{
    /* ABOUT US: */
    font-family: Raleway; /*-SemiBold;*/
    font-weight: bold;
    font-size: 26px;
    color: #AA507A;
    letter-spacing: 2px;
    line-height: 26px;
    text-transform: uppercase;
    margin: 0% 8% 4% 8%;
    padding: 1% 2% 1% 2%; /* top right bottom left */
}

.about-body{
    /* Hi, we’re UCLA's one: */
    font-family: Raleway;
    font-size: 20px;
    color: #AA507A;
    letter-spacing: 1px;
    line-height: 50px;

    margin-top: 3%;
    text-align: justify;

    margin: 0% 8% 0% 8%;
    padding: 1% 2% 1% 2%; /* top right bottom left */
}