body {
  text-align: center;
  background-color: #F6EDCE;
  padding-top: 56px; /* This is so the navbar doesn't cover the main content. */
  font-family: Advent Pro;

  margin-right: 0;
  margin-left: 0;
}

/* Class for each subsection of the site. */
.mainelement {
    background-color: #FFFEEC;
    width:72%;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0px 0px 5px 2px #999955;
    position: relative;
}

/* Used as anchors for the navbar. */
.anchor {
  display: block;
  height: 60px;
  margin-top:-60px;
  visibility:hidden;
}