.footer-wrapper {
    background-color: #AA507A;
    color: #FDFEF2;
    font-size: 14px;
    font-weight: 600;
    font-family: Raleway;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0px -1px 0px;
    
    margin-top: 1%;
    padding-top: 1%;
    bottom: 0;
    width: 100%;
    margin-bottom: -50px;
}
.footer-img {
    max-height: 350px;
}
@media (max-width: 760px) {
  .footer-img {
    max-height: auto;
    width: 100%;
  }
}