.footer{
    margin-top: 1%;
    background: #AA507A;
    color: #FDFEF2;
    letter-spacing: 3.5px;
}

.footer h1{
    /* Contact Us: */
    font-family: AdventPro-Light;
    font-weight: lighter;
    font-size: 36px;
    color: #FDFEF2;
    letter-spacing: 3.5px;
    text-transform: uppercase;
}

.contacts{
    display: flex;
}