.fresh-wrapper{
    height: 20%;
    background-color: #FFFFFC;
    max-width: 75%;
    margin: auto;
    margin-top: 3%;
}

.fresh-body{
    padding: 18% 0;
    margin-left: 17%;
    text-align: left;
    font-family: Raleway-Regular;/* An extension of JAC,: */
    line-height: 27px;
    font-size: 18px;
    color: #4E4257;
}

.fresh-body div{
    width: 75%;
    padding-top: 225px;
    margin-left: 150px;
}

.fresh-svg{
    float: left;
}

.info{
    margin-bottom: 5%;
}