
.join{
    margin-top: 7%;
    display: flex;
    justify-content: space-evenly;
    width: 99%;
}

.join-container{
    width: 100%;
    background: #FDFEF2;
    border: 1px solid #669986;
    display: flex;
    justify-content: space-evenly;
    padding: 5% 0 1%;
    position: relative;
}

.banner{
    z-index: 1;
    position : absolute;
    margin-top: -60px;
}

.link{
    /* Rectangle: */
    word-wrap: break-word;
    height: 10em;
    width: 26.5%;
    text-transform: uppercase;
    padding: 1% 3% 2%;
}

.icon{
    margin: 10px;
}

.facebook{
    /* Background: */
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    /* for the latest updat: */
    font-family: Raleway;
    font-size: 24px;
    color: #B1BE4E;
    letter-spacing: 2px;
}

.facebook h1{
    /* FOLLOW OUR: */
    font-family: Raleway;
    font-size: 24px;
    color: #B1BE4E;
    letter-spacing: 3px;
}

.mail,
.discord {
    /* Background: */
    background: #B1BE4E;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    /* FOR WEEKLY UPDOOTS: */
    font-family: Raleway;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 3px;
}

.mail h1,
.discord h1{
    /*Join*/
    font-family: Raleway;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 3px;
}

@media (max-width: 824px) {
    .banner{
        zoom: .7;
    }
    .join-container{
        flex-direction: column;
    }
    .link{
        width: 90%;
        margin: auto;
        margin-bottom: 10px;
    }
}

@media (max-width: 1270px) {
    .join{
        zoom: 0.65;
    }
}