.kirigami {
    text-align: left;
    height: 372px;
}

.kirigami-logo{
}

.kirigami-text {
    color: #956565;
    position: absolute;
    text-align: left;
    letter-spacing: 3px;
    line-height: 2vw; /* was 60px */
    font-size: 1.5vw; /* was 22px */
    right: 10px;
    top: 39%;
}
.kirigami-text h1{
    text-transform: uppercase;
    padding-left: 20%;
    padding-bottom: 3%;
}