.main {
    background: #FFFFFC;
}

.meetinginfo {
    /* THURSDAYS 7-9PM @Hum: */
    font-family: Advent Pro;
    font-weight: bold;
    font-size: 26px;
    color: #AA507A;
    letter-spacing: 2.5px;
    line-height: 43px;
}