.main {
    background: #FFFFFC;
    font-family: Advent Pro;
    box-shadow: 0px 0px 5px 2px #FFFFFC;
    width: 100%;
    height: 100vh;

    background-image: url('../jaciebg.png');
    background-size: auto 94%;
    background-position: right bottom; /* Stuck to right. */
    background-repeat: no-repeat; /*Prevent showing multiple background images*/

    overflow: hidden; /* The stamp can sometimes extend past the main div. */
}

@media (max-width: 824px){
    .main {
        background-image: none;    
    }
}

/* Contains the stamp and the meetinginfo. */
.main-container {
     /* background: repeating-linear-gradient(
        40deg,
        rgb(252, 249, 238),
        rgb(252, 249, 238) 40px,
        #FFFFFC 40px,
        #FFFFFC 60px
    );    */
    background-color: #FFFFFC;  
    border-radius: 20px;

    float: left; 

    margin-left: 9%;
    margin-top: 10%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 1.6%;
    /* Needed to prevent padding-top from adding to height of this div. */
    box-sizing: border-box;
}

@media (max-width: 824px){
    .main-container {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        padding-top: 25%;
    }
}

.meetinginfo {
    /* THURSDAYS 7-9PM @Hum: */
    font-family: Advent Pro;
    font-weight: bold;
    font-size: 26px;
    color: #AA507A;
    letter-spacing: 1.2px;
    line-height: 1.7vw;
    font-size: 18px;
    margin-top: 55px;
}