.navbar {
    /* Stick the navbar to the top of the screen. */
    position:fixed; /* Change this to absolute if you prefer it not to be stuck to top */
    top: 0;
    left: 0; /* GOT EM */
    width:100%;
    z-index:100;

    text-align: right;
    background-color: rgb(252, 249, 238);
    border-bottom: solid .5px #FDFEF2;
    font-family: Advent Pro;
    font-size: 16px;
    white-space: nowrap;

    height: 52px;
}
.navbar-logo {
    float: left;
    padding: 5px 0.7%;
    max-width: 80%;
    max-height: 80%;
}
ul.navbar {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
.navbar li { 
    display:inline-block;
    width: 10%;
}

/* Used as anchors for the navbar. */
.anchor {
  display: block;
  height: 60px;
  margin-top:-60px;
  visibility:hidden;
}

@media(max-width: 1500px){
    .navbar li {
        width: 15%;
    }
}

@media(max-width: 824px){
    .navbar {
        height: 46px;
    }
    .navbar li{
        width: 16%;
        overflow: hidden;
        font-size: 12px;
    }
    .navbar-logo {
        padding: 9px 2%;
        max-width: 60%;
        max-height: 60%;
    }
    .anchor {
        height: 49px;
        margin-top: -49px;
    }
}
.navbar a {
    text-align: center;
    display: block;
    text-decoration: none;
    color: #AA507A;
}
/* Change the link color on hover */
.navbar a:hover { 
    color: #FDFEF2;
    transform: scale(1.1);
    /* text-shadow: 0 0 15px #AA507A; */
    text-shadow: 0 0 10px #AA507A;
}