.main {
    background: #FFFFFC;
    font-family: Advent Pro;
    box-shadow: 0px 0px 5px 2px #FFFFFC;
    width: 100%;
    height: 100vh;

    background-image: url('../images/jaciebg.svg');
    background-size: auto 95%;
    background-position: right bottom; /* Stuck to right. */
    background-repeat: no-repeat; /*Prevent showing multiple background images*/

    overflow: hidden; /* The stamp can sometimes extend past the main div. */
    margin-bottom: 7%;
}

@media (max-width: 824px){
    .main {
        background-image: none;  
        margin-bottom: 5px;  
    }
}

/* Contains the stamp and the meetinginfo. */
.main-container {
     /* background: repeating-linear-gradient(
        40deg,
        rgb(252, 249, 238),
        rgb(252, 249, 238) 40px,
        #FFFFFC 40px,
        #FFFFFC 60px
    );    */
    background-color: rgba(255, 255, 252, .90);   
    border-radius: 20px;

    float: left; 

    margin-left: 9%;
    margin-top: 10%;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 1.6%;

    /* Needed to prevent padding-top from adding to height of this div. */
    box-sizing: border-box;
}

@media (max-width: 824px){
    .main {
        background-color:transparent;
    }
    .main-container {
        background-color: transparent;

        padding: 10px 10px;

        float: none;
        margin: 0 auto;
        margin-top: 23vh;
        max-width: 230px;
    }
    .main-stamp {
        background-color: #FCF9EE;
        border-radius: 10px;
    }
    .meetinginfo {
        background-color:#FCF9EE;
    }
}

.meetinginfo {
    /* THURSDAYS 7-9PM @Hum: */
    font-family: Advent Pro;
    font-weight: bold;
    font-size: 26px;
    color: #AA507A;
    letter-spacing: 1.2px;
    line-height: 25px;
    font-size: 18px;
    margin-top: 55px;
}

.main-arrow {
    display: none;
}

@media (max-width: 824px){

    .main-arrow {
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left:-20px;
    }

    .bounce {
        -webkit-animation-name: bounce;
        -moz-animation-name: bounce;
        -o-animation-name: bounce;
        animation-name: bounce;
    }
    .animated{
        -webkit-animation-fill-mode:both;
        -moz-animation-fill-mode:both;
        -ms-animation-fill-mode:both;
        -o-animation-fill-mode:both;

        animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;

        animation-fill-mode:both;
        -webkit-animation-duration:3s;
        -moz-animation-duration:3s;
        -ms-animation-duration:3s;
        -o-animation-duration:3s;
        animation-duration:3s;
    }

    @-webkit-keyframes bounce {
        0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	40% {-webkit-transform: translateY(-12px);}
        60% {-webkit-transform: translateY(-8px);}
    }
    @-moz-keyframes bounce {
        0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
        40% {-moz-transform: translateY(-12px);}
        60% {-moz-transform: translateY(-8px);}
    }
    @-o-keyframes bounce {
        0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
        40% {-o-transform: translateY(-12px);}
        60% {-o-transform: translateY(-8px);}
    }
    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
        40% {transform: translateY(-12px);}
        60% {transform: translateY(-8px);}
    }
}
