.about{
    background: #FFFFFC;

    padding: 2% 3%;
}

.about-title,
.about-body{
    background: #FDFEF2;
    border: 2px solid #CACB69;
}

.about-title{
    /* ABOUT US: */
    font-family: Raleway; /*-SemiBold;*/
    font-weight: bold;
    font-size: 26px;
    color: #AA507A;
    letter-spacing: 2px;
    text-transform: uppercase;

    margin-bottom: 2%;
    padding: 2% 0;
}

.about-body{
    /* Hi, we’re UCLA's one: */
    font-family: Raleway;
    font-size: 20px;
    color: #AA507A;
    letter-spacing: 0px;
    line-height: 37px;

    padding: 0% 2%;
    padding-top: 2%;
}

.about-jacie {
    position: relative;
    max-width: 250px;
    top: 70px;
}

@media only screen 
and (max-width: 824px) {
    .about-body {
        font-size: 15px;
        line-height: 25px;
    }
    .about-jacie {
        top: 67px;
    }
}

.about-photos{
    position: relative;
    margin: 4% auto;

    height: 400px;

    overflow: hidden;
}

.about-photos-slide{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;

    height: 100%;

    opacity: 0;
}

.about-photos-img{
    height: 100%;
    border-radius: 10px;
}

.about-photos-caption{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, 0);
    margin-right: -50%;

    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;

    background-color: white;
}

@media only screen 
and (max-width: 824px) {
    .about-photos {
        height: 200px;
        margin-bottom: 40px;
    }
}

@keyframes about-photos{
    25%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
}
