body {
  text-align: center;
  background-color: #FCF9EE;
  /* padding-top: 56px;  This is so the navbar doesn't cover the main content.  */
  font-family: Advent Pro;

  margin: 0 0;

  background-image: url('../images/animebg-lighter.png');
  background-repeat: repeat;
  background-size: 500px;
}

/* Class for each subsection of the site. */
.mainelement {
    background-color: #FFFEEC;
    width:72%;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0px 0px 5px 0px #999955;
    /* position: relative; */
    
    margin-bottom: 3%;

    box-sizing: border-box;
}
@media only screen 
and (max-width: 824px) {
    .mainelement {
      width: 98.5%;

      margin-bottom: 40px;
    }
}
